@media (max-width: 1400px) {
  .team-members {
    width: 100%;
  }
  .menu h2 {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .category-content h3 {
    font-size: 18px;
  }
  .logo {
    width: 14%;
    font-size: 12px;
    margin: 0;
  }
  h2 {
    margin: 0;
  }
  .list-item {
    width: 100%;
  }
  .team-members {
    width: 100%;
  }
  .menu h2 {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .logo {
    width: 20%;
  }
  .info {
    gap: 0;
  }
  .info h2 {
    font-size: 16px;
  }
  aside {
    width: 25%;
  }
  .task-category {
    justify-content: space-between;
  }
  .catogary-item {
    width: 36%;
  }
  .list-item {
    width: 100%;
  }
  .team-members {
    width: 100%;
  }
  .menu h2 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  header {
    padding: 12px 20px;
    position: sticky;
    top: 0px;
    z-index: 0;
  }
  .info {
    display: none;
  }
  .logo {
    width: 32%;
  }
  .serch-bar {
    width: 70%;
  }
  aside {
    width: 100%;
    height: auto;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar {
    width: 100%;
  }
  .sidebar li {
    width: 50%;
  }
  .sidebar ul {
    display: flex;
    gap: 20px;
  }

  .main {
    flex-direction: column;
    width: 100%;
  }
  .catogary-item {
    width: 31%;
  }
  .category-content h3 {
    font-size: 15px;
  }
  .task-category {
    justify-content: space-between;
  }

  .modal {
    width: 100%;
  }
  .modal-wrapper {
    position: absolute;
    padding: 20px;
    height: 200vh;
  }
  .close {
    top: 2%;
    right: 1%;
  }
  .list-item {
    width: 100%;
  }
  .team-members {
    width: 100%;
  }
  .menu h2 {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  header {
    padding: 12px 20px;
    position: sticky;
    top: 0px;
    z-index: 0;
  }
  .info {
    display: none;
  }
  .logo {
    display: none;
  }
  .main {
    width: 100%;
    flex-direction: column;
  }

  .serch-bar {
    width: 100%;
    padding: 8px;
  }

  .serch-bar i {
    font-size: 20px;
  }
  aside {
    width: 100%;
    height: auto;
    position: static;
  }
  .sidebar {
    height: 30px;
  }
  .sidebar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sidebar li {
    width: 47%;
    padding: 10px;
    margin-bottom: 0;
    font-size: 10px;
  }
  .sidebar li i {
    display: none;
  }
  .task-wrapper {
    box-shadow: none;
    background-color: transparent;
    padding: 0;
  }
  .task-category {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catogary-item {
    width: 46%;
  }
  .catogary-item:nth-last-of-type(3) {
    width: 100%;
  }
  .category-content h3 {
    font-size: 12px;
  }

  .icon {
    display: none;
  }

  /* #status-btn {
    width: 100%;
  } */
  .modal-wrapper {
    padding: 10%;
    position: absolute;
    height: 200vh;
  }
  .modal {
    width: 100%;
    padding: 0;
  }
  .close {
    top: 2%;
    right: 3%;
  }
  form label {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .list-item {
    width: 100%;
  }
  .priority {
    display: none;
  }
  .list-title h2 {
    font-size: 14px;
  }
  .list-icon {
    width: 30px;
    height: 30px;
  }
  .list-icon i {
    font-size: 12px;
  }
  .list-actions-box a {
    font-size: 13px;
  }
  .team-members {
    width: 100%;
  }
  .team-members ul {
    flex-wrap: wrap;
  }
  .team-members ul li {
    width: 100px;
    font-size: 12px;
  }
  .member-task > div > p {
    font-size: 12px;
    padding: 15px 0;
  }
  td,
  tr {
    font-size: 12px;
  }
  .menu h2 {
    font-size: 12px;
  }
  .menu select {
    font-size: 12px;
  }
}
