* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fafaff;
  text-transform: capitalize;
  height: 300vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header {
  display: flex;
  padding: 30px 20px;
  gap: 20px;
}
img {
  width: 100%;
  height: auto;
}
h2 {
  margin: 10px;
}
.container {
  padding: 0 20px;
  margin: 0 auto;
}
.main {
  display: flex;
  gap: 25px;
}
aside {
  width: 16%;
  height: 100%;
  position: sticky;
  top: 0px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.sidebar li {
  list-style-type: none;
  background-color: #1d1c1c;
  color: #ffffff;
  width: 100%;
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 12px;
}
.sidebar li i {
  margin-right: 20px;
}
.logo {
  padding: 20px;
  width: 15%;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.info {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  padding: 10px 15px;
  width: 25%;
  align-items: center;
  justify-content: space-between;
}
.info .profile {
  width: 60px;
}
.serch-bar {
  width: 65%;
  display: flex;
  gap: 10px;
  background-color: #fff;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.serch-bar input {
  width: 100%;
  border: none;
  padding: 10px;
}
.serch-bar :placeholder-shown {
  font-size: 20px;
}
.serch-bar i {
  color: #000000;
}

.task-wrapper {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.task-category {
  display: flex;
  align-items: center;
  gap: 20px;
}
.catogary-item {
  width: 25%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 12px;
}

.catogary-item:nth-of-type(1) {
  background-color: #bbdeff8f;
}
.catogary-item:nth-of-type(3) {
  background-color: #f13b5c7e;
}
.catogary-item:nth-of-type(2) {
  background-color: #c1caca75;
}
.icon {
  background-color: #8d99ae;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
i {
  color: white;
  font-size: 24px;
}
.category-content h3 {
  color: #000000;
  font-size: 22px;
}
.category-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.category-content a {
  text-decoration: none;
  color: #11111196;
}
.task-listing {
  width: 100%;
  /* padding: 5px; */
  margin-top: 50px;
  border-radius: 20px;
  background-color: #fff;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
input {
  outline: none;
}
.modal-wrapper {
  position: fixed;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #222222b7;
  top: 0;
  left: 0;
  display: none;
}
.modal {
  background-color: rgb(255, 255, 255);
  margin: 3% auto;
  width: 30%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}
form {
  padding: 20px;
}
form div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 20px;
}
form label {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
}
form input,
form select {
  padding: 10px;
}
select {
  margin-bottom: 20px;
}
form button {
  background-color: #111;
  font-size: 20px;
  color: #fff;
  text-align: center;
  border: none;
  padding: 8px 15px;
  border-radius: 12px;
}
.close {
  position: absolute;
  top: 5%;
  right: 34%;
  background-color: #023fc2;
  padding: 10px 15px;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 20px;
}

/* dailouge box */
/*status modal*/
#status-btn {
  position: relative;
  /* z-index: -11; */
  color: black;
}
.status-modal {
  position: absolute;
  top: 40%;
  right: 7%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  z-index: 11111111111;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: none;
  height: 200px;
}
.status-modal label {
  font-size: 12px;
  color: #1d1c1c;
}
.status-modal select {
  padding: 10px;
  border: none;
  background-color: transparent;
  font-size: 20px;
}
.status-modal button {
  background-color: #808080a6;
  border: none;
  padding: 10px 15px;
  color: #fff;
  font-size: 20px;
}
.status-modal select:focus {
  outline: none;
}
/* scroll bar */

.scroll {
  width: 100%;
  height: 4px;
  background-color: lightgray;
  position: fixed;
  top: 0;
  z-index: 111111;
}

#scroll-progress {
  width: 0%;
  height: 10px;
  background-color: rgb(250, 152, 173);
}
/* new card  */
.list-item {
  width: 47%;
  background-color: #c1caca75;
  padding: 20px;
  border-radius: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list-title-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.list-title-box h2,
.list-title h2 {
  margin: 0 0 10px 0;
}
.list-title {
  font-size: 14px;
}
.list-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #080808;
  display: flex;
  justify-content: center;
  align-items: center;
}
.priority {
  margin-left: auto;
}
.list-actions-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #bbdeff8f;
  padding: 20px;
  border-radius: 12px;
}
.list-actions-box a {
  font-size: 20px;
  text-decoration: none;
  font-weight: 900;
  color: rgb(0, 0, 0);
}
.list-other-info-box {
  /* align-self: flex-end; */
  /* margin-left: 65px; */
  font-size: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.priority p {
  font-weight: 900;
  opacity: 0.5;
}
::backdrop {
  background-color: #8d99ae;
  opacity: 0.75;
}
dialog {
  width: 500px;
  margin: 10% auto;
  border: none;
  padding: 20px;
  border-radius: 12px;
}
dialog span {
  font-size: 20px;
  background-color: #95cfff;
}
dialog p {
  font-size: 28px;
  margin-bottom: 20px;
}
dialog button {
  padding: 10px;
  border: none;
  background-color: #222;
  width: 100%;
  color: white;
  border-radius: 12px;
}
.team-members {
  background-color: #ffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  /* margin: 20px 0; */
  width: 85%;
  margin: 20px 0 0 auto;
}
.team-members > p {
  color: #e62f8a;
  opacity: 0.5;
  font-weight: 700;
  font-size: 20px;
  margin: 10px;
}
.team-members ul {
  display: flex;
  /* padding: 20px; */
  gap: 20px;
  list-style-type: none;
  text-align: center;
}
.team-members ul li {
  font-size: 24px;
  cursor: pointer;
  width: 200px;
  background-color: #8d99ae11;
  padding: 10px;
  border-radius: 12px;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}
.member-task {
  margin: 30px 0;
  background-color: #8d99ae11;
  padding: 20px;
  border-radius: 12px;
}
.member-task > div {
  display: flex;
  justify-content: space-between;
}
.member-task > div > p {
  font-size: 18px;
  color: #023fc2;
  padding: 15px;
  cursor: pointer;
}
.member-task table {
  width: 100%;
  border-radius: 12px;
  /* border: 2px solid #ff95b5; */
}
td,
tr {
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  background-color: #fff;
}
tbody {
  border-radius: 12px;
  border-radius: 12px;
  margin-top: 20px;
}
.close-list {
  margin-left: auto;
}
.member-task h2 {
  font-size: 18px;
}
.menu {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}
.menu select {
  margin: 0;
  padding: 10px;
  font-size: 20px;
  border: none;
  background-color: transparent;
}
.menu select:focus {
  outline: none;
}

.list-actions-box select {
  background-color: transparent;
  font-size: 20px;
  text-decoration: none;
  font-weight: 900;
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
  margin: 0;
}
.error {
  color: #bb0505;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  text-align: right;
}
